.product {
    .product-dec {
        font-size: 20px;

    }
    .product-price{
        font-size: 20px;

    }
//     // .product-title {
//     //     font-size: 20px;
//     //     font-weight: bolt;
//     // }
}
.btnCenter {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}
